.app {
  height: 100vh;
  width: 100vw;
  border-radius: 0;
}

.ant-card-head {
  background: #ff85c0;
  height: 84px;
}

.app > .ant-card-body {
  padding: 0;
  background: #ffd6e7;
}

.app-header {
  font-family: "Raleway", sans-serif;
  color: #fff;
  width: 100%;
  font-weight: 800;
  font-size: 48px;
  line-height: 1;
  font-variant: small-caps;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-header .header-controls {
  font-family: "Zilla Slab", serif;
  font-weight: normal;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.app-header .header-controls .ant-select {
  margin-right: 15px;
  width: 125px;
  font-size: 18px;
}

.app-header .header-controls .ant-select .ant-select-selector {
  border-radius: 5px;
}

.app-header .header-controls .ant-form-item-label label {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.app-content {
  width: 100%;
  height: calc(100vh - 84px);

  padding: 10px 25px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.app-content .ant-ribbon-wrapper {
  height: 100%;
}

.app-content .alchemy {
  padding: 20px;
  width: 100%;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff0f6;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.app-content .pets-list {
  padding: 20px;
  width: 100%;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
  background: #fff0f6;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.app-content .ant-card {
  max-width: 275px;
  border-radius: 10px;
  margin: 10px;

  -webkit-box-shadow: 0px 15px 25px -15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 15px 25px -15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 15px 25px -15px rgba(0, 0, 0, 0.2);
}

.app-content .ant-card img {
  height: auto;
  width: 275px;
}

.app-content .ant-card .ant-card-actions {
  border-radius: 0 0 10px 10px;
}

.app-content .ant-card .ant-card-actions .anticon {
  font-size: 26px;
  line-height: 1;
}

.app-content .ant-card .ant-card-actions li {
  margin: 0;
  padding: 10px 0;
}

.app-content .ant-card .ant-card-actions li:hover {
  background: #fafafa;
}

.app-content .ant-card .ant-card-body {
  padding: 10px;
}

.app-content .ant-card .ant-card-meta-title {
  font-size: 24px;
  font-weight: 600;
  font-variant: small-caps;

  text-align: center;
}

.app-content .alchemy-category {
  margin-bottom: 10px;
}

.app-content .alchemy-category .category-header {
  margin: 10px 10px 20px;
  width: 100%;

  line-height: 1.3;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Raleway';

  color: #f759ab;
  border-bottom: 1px solid #c41d7f;
}

.app-content .alchemy-category .category-list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  margin: 0 25px;
}

.app-content .alchemy-category .ant-avatar {
  margin: 0 15px 25px;
  background: #ffffff;
  border: 2px solid #8c8c8c;
}

.app-content .alchemy-category .hatch-item img {
  padding: 7px;
}

.alch-source-ribbon {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.alch-source-ribbon .ant-ribbon-text a {
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: bold;
  color: #ffffff;
}
